<!DOCTYPE html><html>

<head><link rel="stylesheet" href="pages.css.scss"></head>

<main>
  <header><h1>A heading! :o</h1></header>
  <nav><button type='button'>Learn More</button></nav>

  <div><h2>a subheading</h2>
  <p>lalalalalallalalalalaallallallalalaal</p></div>

  <div id = "second"></div>

  <div id="discover"><nav><button type="button">Learn More<button></nav></div>



</main>
</html>